*{
	padding: 0;margin:0;
}
/* .all{
	margin:0 auto; 
	width: 100%; 
	height: 1200px;
}
.nav{
	width:100%;
	height:66px;
	box-shadow: 0px 2px 4px rgba(1,1,1,0.15);
}
.navLeft{
	height: 66px;
	float: left;
	padding-top: 15px;
}
.navLeft img{
	margin-left: 275px
}
.navRight{
	width: 1200px;
	height: 66px;
	float:left;
	padding-top: 15px;
	margin-left: 95px;
}
.navRight ul{
	list-style: none; 
}
.navRight ul li{
	float: left;
	margin-left:45px;
	width: 100px;
	height:40px;
	background:url(../images/nav-logo.PNG)no-repeat;
	text-align: center;
	line-height: 40px;
}
a{
	text-decoration: none;
	color: #fff
} */
.header-home {
    width:100%;
	height:55px;
	box-shadow: 0px 2px 4px rgba(1,1,1,0.15);
	opacity: 0.85;
    background-color: #fff;
}
.header-home .header-nav li {
    float: left;
	margin-left:40px;
	width: 100px;
	height:40px;
	background:url(../images/nav-logo.PNG)no-repeat;
	text-align: center;
	line-height: 40px;
	list-style: none;
}
.header-home .header-nav a {
    text-decoration: none;
	color: #fff
}

.pic {
	margin-top: 60px;
	margin-left: 190px;
}
/* .title {
	height: 50px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 3px;
	width: 80%;
	line-height: 50px;
	margin:15px auto;
}
.titleLeft {
	font-weight:bold;
	float:left;
}
.titleRight {
	float: right;
} */
.subBanner {
    margin: 61px 220px;
}
.subBanner,.subBody{
	width: 1500px;
}
.second-title .Solution-p {
	font-family:"SimHei";
	font-size: 36px;
	font-weight: bold;
    border-bottom:1px solid #000;
    margin:0 auto;

}
.content {
	margin:30px auto;
	width: 80%;
	height: 580px;
}
.content img{
	margin: 5px;
}

.aboutus-p2{
	background: url(../images/at1.png)no-repeat;
	height: 50px;
	font-family:"SimHei";
	color: #fff;
	font-size: 22px;
	line-height: 50px;
	width: 250px;
	margin-left:45px;
	margin-top: 50px;
}
.aboutus-p2 p {
	margin:25px;
}
.content-left {
    margin-left: -180px;
}
.content-nav {
	width: 250px;
	height: 358px;
	display: inline-block;
	background: url(../images/at2.png) no-repeat;
	margin-left: 48px;
}
.content-nav ul {
	list-style: none;
}
.content-nav ul li {
	margin-top: 19px;
    margin-left: 72px;
    font-size: 20px;
    color: #fff;
    font-family:"SimHei";
}
.content-nav a{
	color: #fff;
	text-decoration: none;
}
.content-nav a:hover{
	color: #fff;
	text-decoration: none;
}
.content-text {
	width: 1075px;
	float: left;
	margin-top: 65px;
    margin-left: -85px;
}
.content-text p {
	font-size: 20px;
    margin-top: 40px;
    font-weight: bold;
}
footer {
	width: 100%; 
	height: 170px; 
	background: #C0C0C0;
	margin:0 auto;
}
.leftFoot {
	float:left;
	width: 1400px;
}
.leftFoot p {
	
	text-align: center;
	color: #666666;
	font-size: 18px;
	margin-left: 140px;
}
.leftFoot img {
	margin:10px 620px;
}
.rightFoot{
	float: left;
}
.rightFoot img {
	margin-top: 30px;
}